<ul class= "list-group list-group-horizontal">
  <% if @categories&.any?  %>
    <% @categories.each do |category| %>
        <li class= "list-group-item"><%= category.name.upcase %></li>
    <% end %>
  <% end %>
</ul>
<br>