<div class="container">
  <h1 class="display-4">Search</h1>
  <p class="lead">Search facts by category or by free text</p>
  
  <%= render "categories", categories: @categories %>
  
  <%= render "search" %>

  <%# <%= render "result", fact_result: @fact_results %>
</div>
